:host {
  display: grid;
  grid-template-rows: 1fr 6fr 4fr;
  width: 100%;
  height: 100%;
}
.name-header {
  color: gray;
  font-size: 1rem;
  padding-top: 10px;
  padding-right: 10px;
  justify-content: right;
  text-align: right;
}
.mat-divider {
  background-color: #3e5c5f91;
  margin: 0 0 10px 0;
}
.delete-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
}
.options-delete{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}
.options-edit{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}
.delete-inputs {
  width: 250px;
}
::ng-deep.mat-form-field-underline {
  background-color: white !important;
}
::ng-deep .mat-form-field-label {
  color: white !important;
}
::ng-deep input.mat-input-element {
  color: white !important;
}
.delte-button {
  justify-content: center;
  width: 250px;
}
.delete-information{
    color:white;
}
h2{
  font-family: 'AngularRegularBold';
}
.update-user-form{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
}
.password-icon{
  color:white;
}
.update-inputs{
  width:250px;
}
.edit-user-button{
  width:250px;
}