:host{
    background-image: linear-gradient(to right, rgba(24, 35, 44, 1), rgba(50, 70, 83, 1));
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
