:host{
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    width: 100%;
    height: 100%;
}
.name-header{
    color:gray;
    justify-content: right;
    text-align: right;
    font-size: 1rem;
    padding-right: 10px;
    padding-top:10px;
}
::ng-deep .mat-divider {
    background-color: #3e5c5f91;
    margin: 0 0 10px 0;
    width: auto;
  }
.administration-schedule {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    height:auto;
    padding:10px;
    margin-bottom: 10px;
}
.administration-movie{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}
.administration-schedule .mat-form-field{
    width: 250px;
}
.administration-movie .mat-form-field{
    width: 250px;
}
.add-schedule-button{
    justify-content: center;
    width: 250px;
    height: 40px;
}
.add-movie-button{
  justify-content: center;
    width: 250px;
    height: 40px;
}
::ng-deep .mat-form-field-underline {
    background-color: white !important;
  }
  ::ng-deep .mat-form-field-label {
    color: white !important;
  }
  ::ng-deep input.mat-input-element {
    color: white !important;
    padding-left:10px;
  }
  mat-datepicker-toggle {
    color: white !important;
   }
   .not-empty-select.mat-selected {
    color: white !important;
  }
  
  ::ng-deep .mat-select-value-text {
    color: white !important;
  }
  ::ng-deep .mat-option-underline{
      color: white !important;
  }
  .description-textarea {
    color: white !important;
  }

 .start-time-label{
     margin-left:10px;
 }
 h2{
  font-family: 'AngularRegularBold';
 }
 .file-picker{
   width:250px;
   color:white;
 }